.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  max-width: 780px;
  margin: 40px auto;
  background: white;
  border-radius: 7px;
}

.robot {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgb(207, 203, 203);
}

.robot .image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-top: 40px;
}
.image img {
  width: 70px;
}
.info {
  text-align: left;
}
.searchbar input.text {
  width: 100%;
  border: 1px solid transparent;
  font-size: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(190, 190, 190);
}
input.text:focus-visible {
  border-bottom: 1px solid rgb(43, 42, 42);
  outline: none;
}
.searchbar input.submit {
  visibility: hidden;
  display: none;
}
.inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-top span {
  margin-left: 120px;
}
.inner-top span svg {
  font-size: 20px;
}
.robot .left {
  display: flex;
  gap: 40px;
}
.right span svg {
  font-size: 20px;
}
.right span {
  cursor: pointer;
}
.right {
  padding-top: 20px;
}
.submit {
  display: none;
}
.tag-field {
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid gray;
}
.tag-field:focus-visible {
  outline: none;
  border-bottom: 1px solid #000;
}
/********** spinner *********/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
